<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/moderation.css">
    <title>Панель сотрудника</title>
</head>
<body>
    <h1>Панель сотрудника</h1>
    <section class="moders">
        <a href="/gener-pdf" class="btn">Скачать PDF с заявками</a>
        <a href="/logout" class="btn">Выйти</a>
    </section>

    <h1>Таблица данных по Чек-лист</h1>
    <table id="requestsTable">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Номер телефона</th>
                <th>Email</th>
                <th>Сообщение</th>
                <th>Функции</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>

        <h1>Модерация отзывов</h1>
        <table id="reviewsTable">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Email</th>
                    <th>Сообщение</th>
                    <th>Функции</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

    <script src="/js/moderation.js"></script>
</body>
</html>