<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/uslugi_koordinaciya.css">
    <title>Blissful Beginnings - Координация свадьбы</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="headerBody">
                <div class="headerLogo">
                    <p>Blissful Beginnings</p>
                </div>

                <div class="headerBurger">
                    <span></span>
                    <span></span>
                </div>

                <nav class="headerMenu">
                    <ul class="headerList">
                        <li><a href="/" class="headerLink">Главная</a></li>
                        <li class="dropdown">
                            <a href="/uslugi" class="headerLink dropdownToggle">Услуги</a>
                            <ul class="dropdownMenu">
                                <li><a href="/uslugi_koordinaciya" class="headerLink">Координация свадьбы</a></li>
                                <li><a href="/uslugi_dekor" class="headerLink">Декор и флористика</a></li>
                                <li><a href="/uslugi_foto" class="headerLink">Фото и видеосъемка</a></li>
                                <li><a href="/uslugi_banket" class="headerLink">Торт и банкет</a></li>
                                <li><a href="/uslugi" class="headerLink">.....</a></li>
                            </ul>
                        </li>
                        <li><a href="/about" class="headerLink">О нас</a></li>
                        <li><a href="/otzyvy" class="headerLink">Отзывы</a></li>    
                        <li><a href="/checklist" class="headerLink">To do list</a></li>                 
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section class="koordinaciya">
        <div class="container">
        <div class="koordinaciyaDetails">
            <h1 class="sectionTitle">Координация свадьбы</h1>

                <div class="koordinaciyaIntro">
                    <div class="introText">
                        <p>Координатор держит под контролем все элементы вашего мероприятия и является главным помощником для вас и ваших гостей. Он решает все вопросы в день торжества, а вы наслаждаетесь своим праздником.</p>
                    </div>
                    <div class="introImageWrapper">
                        <img src="/img/koordinaciya/item6.jpg" alt="Координатор помогает невесте" class="introImage">
                    </div>
                </div>
        
            <div>
                <h3>Чем же конкретно занимается свадебный координатор?</h3>
                <ul>
                    <li>Сопровождает вас в течение всего свадебного дня.</li>
                    <li>Встречает и помогает гостям свадьбы.</li>
                    <li>Контролирует готовность всех подрядчиков накануне мероприятия.</li>
                    <li>Контролирует прибытие всех подрядчиков на площадку.</li>
                    <li>Принимает готовность монтажа декора площадки.</li>
                    <li>Координирует работу подрядчиков в течение дня.</li>
                    <li>Контролирует тайминг свадебного дня.</li>
                    <li>Контролирует время выноса блюд и напитков.</li>
                    <li>Производит денежный расчёт с подрядчиками в конце мероприятия.</li>
                    <li>Вызывает такси гостям, если необходимо.</li>
                    <li>Предоставляет "чемоданчик координатора" со всеми необходимыми мелочами: мини-аптечка, швейный набор, зонты для молодоженов и т.д.</li>
                </ul>
                <img src="/img/koordinaciya/item5.jpg" alt="Координатор помогает жениху" class="detailsImage">

                <p>Главная задача координатора свадьбы - предусмотреть все возможные вопросы, с которыми можно столкнуться в ходе праздника, и знать, каким образом справиться с той или иной проблемой. Для такого специалиста координация даже самого крупного мероприятия - привычное дело, ведь он всегда на чеку и готов моментально принимать решения.</p>
                <p>Даже тем невестам, которые организуют свои свадьбы самостоятельно, мы настоятельно рекомендуем обратиться к услугам свадебного координатора, чтобы полноценно прочувствовать главный день в жизни вашей пары и наконец-то расслабиться и выдохнуть после месяцев напряженной подготовки.</p>
            </div>
        </div>
        </div>
    </section>

    <footer>
        <div class="footerTop">
            <div class="container">
                <div class="footerContainer">
                    <div class="footerItem">
                        <p>Мы находимся по адресу</p>
                        <p>г. Брянск, ул. Ленина, д. 1</p>
                    </div>

                    <div class="footerItem">
                        <p>Контакты</p>
                        <a href="tel:+7(915)56-31-19">+7(915)56-31-19</a>
                        <a href="tel:+7(123)41-21-42">+7(123)41-21-42</a>
                        <a href="tel:+7(412)81-23-32">+7(412)81-23-32</a>
                    </div>

                    <div class="footerItem">
                        <p>Мы в социальных сетях</p>
                        <a href="https://t.me"><i class="fab fa-telegram-plane"></i> Telegram</a>
                        <a href="https://vk.com"><i class="fab fa-vk"></i> ВКонтакте</a>
                        <a href="https://wa.me"><i class="fab fa-whatsapp"></i> Whatsapp</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
